	 <div class="rơw">
	 	<div class="col-sm-12">
	 		
			<div class="input-group input-group-lg">
			      <input type="text" class="form-control fullwidth" ng-model="$ctrl.query" ng-keyup="$ctrl.queryInputKeyup($event)" placeholder="Enter First name, last name or phone number" autofocus>
			      <span class="input-group-btn">
			        <button class="btn btn-primary" type="button" ng-click="$ctrl.doSearch()">Search</button>
			      </span>
		    </div><!-- /input-group -->
			<div class="input-group input-group-lg">
				<input type="checkbox" id="option-expiring-membership" ng-model="$ctrl.membershipExpiringIn30Days"><label for="option-expiring-membership">Membership expiring within 30 days only</label>
			</div><!-- /input-group -->
	 	</div>
		<div class="col-sm-12">
		  <div class="alert alert-danger" role="alert" ng-if="$ctrl.errorMessage">
		    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		    {{$ctrl.errorMessage}}
		  </div>
		  <div class="alert alert-info" role="alert" ng-if="$ctrl.infoMessage">
		    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		    {{$ctrl.infoMessage}}
		  </div>
		</div>
		<div class="col-sm-12">
			&nbsp;
		</div>
	 </div>
	 
	 <div class="rơw" ng-if="$ctrl.isSearching">
		 <div class="col-sm-12">
			 <div class="progress">
			   <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			     <span class="sr-only"></span>
			   </div>
			 </div>
		 </div>
		 <div class="col-md-6">
		 </div>
	 </div>

	 <div class="row" ng-if="$ctrl.searchResult">
		 <div class="col-sm-12">
			 <!-- <nav aria-label="Page navigation"> -->
			   <p>{{$ctrl.searchResult.record_total}} client(s) found.</p>
			   <ul class="pagination">
			     <li ng-class="{disabled : $ctrl.searchResult.current_page==1}">
			       <a href="#" aria-label="Previous" ng-if="$ctrl.searchResult.current_page>1" ng-click="$ctrl.pageChange($ctrl.searchResult.current_page-1)">
			         <span aria-hidden="true">&laquo;</span>
			       </a>
				    <span ng-if="$ctrl.searchResult.current_page==1" aria-hidden="true">&laquo;</span>
			     </li>
			     <li ng-repeat="n in [].constructor($ctrl.searchResult.page_total) track by $index"  ng-class="{active : $ctrl.searchResult.current_page==($index+1)}">
					 <a href="#" ng-click="$ctrl.pageChange($index+1)">{{$index+1}}</a>
				 </li>
			     <li ng-class="{disabled : $ctrl.searchResult.current_page==$ctrl.searchResult.page_total}">
			       <a href="#" aria-label="Next" ng-if="$ctrl.searchResult.current_page!=$ctrl.searchResult.page_total" ng-click="$ctrl.pageChange($ctrl.searchResult.current_page+1)">
			         <span aria-hidden="true">&raquo;</span>
			       </a>
				   <span ng-if="$ctrl.searchResult.current_page==$ctrl.searchResult.page_total" aria-hidden="true">&raquo;</span>
			     </li>
			   </ul>
			 <!-- </nav> -->
		 </div>
	 </div>	 
	 <div class="rơw" ng-if="$ctrl.searchResult">
		<div class="col-sm-12">
			<div>
				<ul class="search-result">
				    <li ng-repeat="client in $ctrl.clients">
				      <h4>
						  {{client.first_name}} {{client.last_name}} 
						  <span ng-if="client.membership_type && client.membership_type!='Guest'" class="label label-success">{{client.membership_type}}</span>
						  <span ng-if="client.membership_type=='Guest'" class="label label-primary">{{client.membership_type}}</span>
					  </h4> 
					  <p>Address: {{client.address}}</p>
					  <p>Mailing Address: {{client.address}}</p>
					  <div ng-if="client.membership_type && client.membership_type!='Guest'">
					      <p>
							  Membership expiry date: {{client.membership_expiry_date}} 
							  <span ng-if="client.days_to_expiration<=0" class="label label-danger">(Expired)</span>
							  <span ng-if="client.days_to_expiration>0 && client.days_to_expiration<=30" class="label label-warning">(Expiring in {{client.days_to_expiration}} days)</span> <br>
							  <a class="btn btn-default" href="mailto:{{client.email}}" aria-label="Left Align">
							    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>: {{client.email}}
							  </a>
							  <a class="btn btn-default" href="tel:{{client.phone}}" aria-label="Left Align">
							    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>: {{client.phone}}
							  </a>
						  </p>
					  </div>
				    </li>
				</ul>
			</div>
		</div>
	 </div>
